version: "3.9"
services:
  redis:
    image: redis:alpine
    container_name: s2t-redis
    volumes:
      - ./redis:/data
    ports:
      - 6379:6379
    logging:
      driver: none
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:12-alpine
    container_name: s2t-db
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    logging:
      driver: none
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5


  app:  # This service that serves the api for text to speech
    build: ./app
    entrypoint: ./entrypoint.sh
    image: s2t-app
    container_name: s2t-app
    volumes:
      - ./app:/app
    ports:
      - "3030:3030"
    env_file:
      - app/.env
    depends_on:
      - db
      - redis
    stdin_open: true # for testing
    tty: true # for testing

  web:  # This service that serves the api for regression and classification
    build: web
    entrypoint: ./entrypoint.sh
    image: s2t-web
    container_name: s2t-web
    volumes:
      - ./web:/app
    ports:
      - "8000:8000"
      - "3000:3000"
    env_file:
      - web/.env
    depends_on:
      - db
      - redis
    stdin_open: true # for testing
    tty: true # for testing
